<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'images/abc8.jpg' %}">
  <title>
    {% block title %}
    ONLINE SHOPPING
    {% endblock %}
  </title>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/all.css' %}" rel="stylesheet" />
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <style>
    .bg-bcolor {
      background: #2E2E2E;
    }

    .bg-ocolor {
      background: #FF8800;
    }

    .text-ocolor {
      color: #FF8800;
    }

    #menu ul li a {
      color: white;
    }

    .ufooter {
      min-height: 300px;
      border-bottom: 1px solid white;
    }

    .bfooter {
      min-height: 50px;
      font-size: 22px;
      text-align: center;
      line-height: 50px;
      color: white;
    }

    .bfooter a {
      text-decoration: none;
    }

    .bfooter a:hover {
      color: green;
    }

    .w {
      background:url("{% static 'images/abc17.jpg' %}");
      background-size: 100% 100%;
      min-height: 220px;
      padding-top: 100px;
    }

    .m {
      background:url("{% static 'images/men9.jpg' %}");
      background-size: 100% 100%;
      min-height: 220px;
      padding-top: 100px;
    }

    .k {
      background:url("{% static 'images/men19.jpg' %}");
      background-size: 100% 100%;
      min-height: 220px;
      padding-top: 100px;
    }

    .btn1 {
      background: #FF8800;
    }

    .product {
      min-height: 500px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row bg-bcolor text-light text-center">
      <div class="col-sm-4">
        <i class="fa-solid fa-phone"></i>
        +91 6394796878
      </div>
      <div class="col-sm-4">
        WELCOME TO ONLINE SHOPPING IN INDIA
        <i class="fa-solid fa-cart-arrow-down"></i>
      </div>
      <div class="col-sm-4">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <div class="row header py-3 text-center">
      <div class="col-sm-4 fs-2 text-center">
        ONLINE SHOPPING <b class="text-ocolor">INDIA
          <i class="fa-solid fa-cart-arrow-down"></i></b>
      </div>
      <div class="col-sm-4 pt-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <i class="input-group-text bg-ocolor text-light">
            <i class="fa-solid fa-magnifying-glass"></i>
          </i>
        </div>
      </div>
      <div class="col-sm-4 pt-2">
        <a href="/showcart/" class="btn bg-ocolor">
          Cart <i class="fa-solid fa-cart-arrow-down"></i>
          <b class="badge bg-dark">
            
            {{cart}}
            
          </b>
        </a>
        {% if request.session.userid %}
        <b> {{request.session.userid}}</b>
        <img src="/{{request.session.userpic}}" style="max-height: 40px; width: 40px;" class="img-thumbnail" alt="">
        {% else %}
        <b>Guest User</b>
        <img src="{% static 'images/men11.jpg' %}" style="max-height: 40px; width: 40px;" class="img-thumbnail" alt="">
        {% endif %}
      </div>
    </div>
    <div class="row menu bg-bcolor" style="min-height: 45px">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <!--START MENU-->
        <nav class="navbar navbar-expand-lg" id="menu">
          <div class="container-fluid">
            <button class="navbar-toggler bg-ocolor" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/index/"><i class="fa-solid fa-house"></i>
                    Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/aboutus/"><i class="fa-regular fa-address-card"></i> About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-brands fa-product-hunt"></i> Product
                  </a>
                  <ul class="dropdown-menu bg-bcolor text-center">
                    <li><a class="dropdown-item" href="/mens/">
                        <i class="fa-solid fa-person-half-dress"></i> Men's</a></li>
                    <li><a class="dropdown-item" href="/womens/"><i class="fa-solid fa-person"></i> Women's</a></li>
                    <li><a class="dropdown-item" href="/kids/"><i class="fa-solid fa-person"></i> Kid's</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/myorder/"><i class="fa-brands fa-first-order"></i> My Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/enquiry/"><i class="fa-solid fa-clipboard-question"></i> Enquiry</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup/"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
                </li>
                {% if request.session.userid %}
                <li class="nav-item">
                  <a class="nav-link" href="/signout/"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign Out</a>
                </li>
                {% else %}

                <li class="nav-item">
                  <a class="nav-link" href="/signin/"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign In</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="/myprofile/"><i class="fa-solid fa-user"></i> My Profile</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--END MENU-->
      </div>
      <div class="col-sm-2"></div>
    </div>



    <div class="row product">
      <div class="col-sm-12 py-3">
        {% block content %}


        {% endblock %}
      </div>
    </div>
    <div class="row bigsale">

    </div>
    <div class="row message"></div>
    <div class="row ufooter bg-bcolor border-1">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-ocolor"><br>
        <a href="#" class="text-ocolor">facebook <i class="fa-brands fa-facebook"></i></a><br>
        <a href="#" class="text-ocolor">Twitter <i class="fa-brands fa-twitter"></i></a><br>
        <a href="#" class="text-ocolor">Instagram <i class="fa-brands fa-instagram"></i></a><br>
        <a href="#" class="text-ocolor">Youtube <i class="fa-brands fa-youtube"></i></a><br>
        
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row bfooter bg-bcolor">
      <div class="col-sm-6">
        Developed By : <a href="#" class="text-ocolor">Ashish Kumar</a>
      </div>
      <div class="col-sm-6">
        Gmail to : <a href="#" class="text-ocolor">Ashishraj5169@gmail.com</a>
      </div>
    </div>
  </div>
</body>

</html>